<?xml version="1.0" encoding="UTF-8"?>

<!-- 日志配置切换到logback -->
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%F:%L][%p] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.jimu.monitor.collect.LogStorer" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>
