<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jimu.monitor.collect.db.FilterMapper">


    <select id="queryAvailableFilterList"
            resultType="com.jimu.monitor.collect.db.Filter">
        SELECT
        id, app, env, status
        FROM
        filter
        WHERE
        status = 0
    </select>

    <select id="finaAllFilter"
            resultType="com.jimu.monitor.collect.db.Filter">
        SELECT
        id, app, env, status
        FROM
        filter order by id desc;
    </select>

    <update id="updateFilter"
            parameterType="com.jimu.monitor.collect.db.Filter">
        update filter
        <set>
            <if test="app != null">
                app = #{app},
            </if>
            <if test="env != null">
                env = #{env},
            </if>
            status = #{status},
            last_update = now()
        </set>
        where id = #{id}
    </update>

    <insert id="insertFilter"
            parameterType="map">
        insert into filter(app, env) value (#{app}, #{env});
    </insert>

</mapper>